extends layout

block content
    if error
        p #{error}
    if company
        h1 #{company.name}
        p
            a(href='/title/#{company.uuid}') Add Title
        p
            a(href='/title/#{company.uuid}') Add Employee
    else
        if companies
            each val in companies
                p
                    a(href='/company/#{val.uuid}') #{val.name}
        div.form
          form(name="create_company", action="/company", method="post")
                input(type="text", name="name", placeholder="Company Name")
                input(type="submit", value="Create Org Chart")   